-
    const images = [
        'br1.webp',
        'br2.webp',
        'br3.webp',
        'br4.webp',
        'br5.webp',
        'br6.webp',
    ]

section#brand.brand
  .container
    .brand-area
      .owl-carousel.owl-theme.brand-item
        each image of images
          .item
            a(href='#')
              img(
                loading='lazy'
                width="110"
                height="78"
                src=`assets/images/brand/${image}`
                alt='brand-image'
              )
