
footer#contact.contact
  .container
    .footer-top
      .row
        .col-md-3.col-sm-6
          .single-footer-widget
            .footer-logo
              a(href='index.html') carvilla
            p
              | Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
            .footer-contact
              p info@themesine.com
              p +1 (885) 2563154554
        .col-md-2.col-sm-6
          .single-footer-widget
            h2 about devloon
            ul
              li
                a(href='#') about us
              li
                a(href='#') career
              li
                a(href='#')
                  | terms 
                  span  of service
              li
                a(href='#') privacy policy
        .col-md-3.col-xs-12
          .single-footer-widget
            h2 top brands
            .row
              .col-md-7.col-xs-6
                ul
                  li
                    a(href='#') BMW
                  li
                    a(href='#') lamborghini
                  li
                    a(href='#') camaro
                  li
                    a(href='#') audi
                  li
                    a(href='#') infiniti
                  li
                    a(href='#') nissan
              .col-md-5.col-xs-6
                ul
                  li
                    a(href='#') ferrari
                  li
                    a(href='#') porsche
                  li
                    a(href='#') land rover
                  li
                    a(href='#') aston martin
                  li
                    a(href='#') mersedes
                  li
                    a(href='#') opel
        .col-md-offset-1.col-md-3.col-sm-6
          .single-footer-widget
            h2 news letter
            .footer-newsletter
              p
                | Subscribe to get latest news  update and informations
            .hm-foot-email
              .foot-email-box
                input.form-control(type='text' placeholder='Add Email')
              
              .foot-email-subscribe
                span
                  i.fa.fa-arrow-right

    .footer-copyright
      .row
        .col-sm-6
          p
            | &copy; copyright.designed and developed by 
            a(href='https://www.themesine.com/') themesine
            | .

        .col-sm-6
          .footer-social
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-linkedin
            a(href='#')
              i.fa.fa-pinterest-p
            a(href='#')
              i.fa.fa-behance

  #scroll-Top
    .return-to-top
      i#scroll-top.fa.fa-angle-up(
        data-toggle='tooltip'
        data-placement='top'
        title=''
        data-original-title='Back to Top'
        aria-hidden='true'
      )
